{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>Mon profil</h1>
    </div>
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>Mes modules</h1>

        <div class="alert alert-secondary">
            <b>Notice:</b> afin de mieux vous connaître (et de mieux connaître les autres membres de l'association),
            nous vous invitons à compléter cette liste et à l'actualiser à chaque nouvelle acquisition de module ou
            changement d'état (envie d'utilisation, évolution de votre niveau, etc...).<br/>
            <br/>
            Mon activité du moment:
            <ul>
                <li><i class="fa fa-plane text-success"></i> <b>Je vole dessus</b>: c'est un module que j'utilise en ce
                    moment
                </li>
                <li><i class="fa fa-warehouse text-warning"></i> <b>Au hangar</b>: j'ai ce module, mais je ne l'utilise
                    pas (ex: je me concentre sur d'autres modules)
                </li>
            </ul>

            Mon niveau (auto évalué):
            <ul>
                <li><i class="fa fa-book-reader text-success"></i> <b>Cadet</b>: Je suis nouveau sur le module ou en
                    cours d'apprentissage
                </li>
                <li><i class="fa fa-shield-alt text-success"></i> <b>Mission</b>: Je suis près pour participer aux
                    missions avec ce module
                </li>
                <li><i class="fa fa-user-tie text-success"></i> <b>Instructeur</b>: Je maîtrise suffisament le module
                    pour aider les autres à progresser sur le module
                </li>
                <li><i class="fa fa-times-circle text-danger"></i> <b>Je ne l'ai pas</b>: Je n'ai pas ce module</li>
            </ul>
        </div>
        {% for moduleTypeKey,moduleType in moduleTypes %}
            <hr/>
            <h2>{{ moduleType }}
                {# @todo add modules count for this module type #}
                {# <div class="float-right"> #}
                {# <span class="badge badge-primary badge-pill" title="Nombre de modules en ma possession">14</span> #}
                {# </div> #}
            </h2>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        Module
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for module in modules %}
                    {% if module.type == moduleTypeKey %}
                        {% if (attribute(myModules, module.id)) is defined %}
                            {% set myModule = attribute(myModules, module.id) %}
                        {% else %}
                            {% set myModule = null %}
                        {% endif %}
                        <tr>
                            <td id="module-{{ module.id }}">
                                {{ module.name }}
                                <div class="float-right">
                                    <div class="btn-group mr-3">
                                        <button class="btn {% if myModule is not null and myModule.active %}btn-success{% else %}btn-secondary{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-active="1"
                                                title="Je vole dessus">
                                            <i class="fa fa-plane"></i>
                                        </button>
                                        <button class="btn {% if myModule is null or myModule.active %}btn-secondary{% else %}btn-warning{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-active="0"
                                                title="Au hangar">
                                            <i class="fa fa-warehouse"></i>
                                        </button>
                                        <button class="btn {% if myModule is not null %}btn-secondary{% else %}btn-danger{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_UNKNOWN') }}"
                                                title="Je ne l'ai pas">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn {% if myModule is not null and myModule.level == constant('\\App\\Entity\\UserModule::LEVEL_CADET') %}btn-warning{% else %}btn-secondary{% endif %}"
                                                {% if not module.withLevel %}disabled{% endif %}
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_CADET') }}"
                                                title="Cadet">
                                            <i class="fa fa-book-reader"></i>
                                        </button>
                                        <button class="btn {% if myModule is not null and myModule.level == constant('\\App\\Entity\\UserModule::LEVEL_MISSION') %}btn-success{% else %}btn-secondary{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_MISSION') }}"
                                                title="Mission">
                                            <i class="fa fa-shield-alt"></i>
                                        </button>
                                        <button class="btn {% if myModule is not null and myModule.level == constant('\\App\\Entity\\UserModule::LEVEL_INSTRUCTOR') %}btn-primary{% else %}btn-secondary{% endif %}"
                                                {% if not module.withLevel %}disabled{% endif %}
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_INSTRUCTOR') }}"
                                                title="Instructeur">
                                            <i class="fa fa-user-tie"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock pageContent %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function () {
    function refresh(moduleId, active, level) {
        // update active buttons
        $('button[data-module='+moduleId+']:button[data-active]').each(function () {
            var $this = $(this);
            $this.removeClass('btn-secondary');
            $this.removeClass('btn-success');
            $this.removeClass('btn-warning');

            if(0 == level) {
                    $this.addClass('btn-secondary');
            }
            else {
                if($this.data('active')) {
                    if(active) {
                        $this.addClass('btn-success');
                    }
                    else {
                        $this.addClass('btn-secondary');
                    }
                }
                else {
                    if(active) {
                        $this.addClass('btn-secondary');
                    }
                    else {
                        $this.addClass('btn-warning');
                    }
                }
            }
        });

        // update level buttons
        $('button[data-module='+moduleId+']:button[data-level]').each(function () {
            var $this = $(this);
            $this.removeClass('btn-secondary');
            $this.removeClass('btn-success');
            $this.removeClass('btn-danger');
            $this.removeClass('btn-warning');
            $this.removeClass('btn-warning');

            if($this.data('level')==level) {
                switch(level) {
                    case 0:
                        $this.addClass('btn-danger');
                        break;
                    case 1:
                        $this.addClass('btn-warning');
                        break;
                    case 2:
                        $this.addClass('btn-success');
                        break;
                    case 3:
                        $this.addClass('btn-primary');
                        break;
                }
            }
            else {
                $this.addClass('btn-secondary');
            }
        });
    }
    $('button[data-module]:button[data-level]').each(function() {
        var $this = $(this);
        $this.on("click", function () {
            $.getJSON({
              url: "/profile/module/"+$(this).data('module')+"/level/"+$(this).data('level'),
            }).done(function(data) {
                $.notify("Modification enregistrée", "success");
                refresh(data.module.id, data.active, data.level);
            }).fail(function() {
                $.notify("error", "error");
            });
        });
    });
    $('button[data-module]:button[data-active]').each(function() {
        var $this = $(this);
        $this.on("click", function () {
            $.getJSON({
              url: "/profile/module/"+$(this).data('module')+"/active/"+$(this).data('active'),
            }).done(function(data) {
                $.notify("Modification enregistrée", "success");
                refresh(data.module.id, data.active, data.level);
            }).fail(function() {
                $.notify("error", "error");
            });
        });
    });
});
</script>
{% endblock %}