{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>
            Mon profil
            <div class="float-right">
                <a href="{{ path('user_view', {'user': app.user.nickname}) }}" class="btn btn-link"
                   title="Voir mon profil">
                    <i class="fa fa-eye fa-2x"></i>
                </a>
            </div>
        </h1>
    </div>
    {% if website == "veaf" %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <h1>
                Mes simulateurs
                <div class="float-right">
                    <a href="{{ path('profile_edit') }}" class="btn btn-link"
                       title="Modifier mon profil">
                        {% if app.user | count_profile_notifications(constant('\\App\\Component\\Profile\\Notification::TYPE_NO_SIM')) %}
                            <span class="badge badge-danger badge-pill"
                                  title="Actions à réaliser">{{ app.user | count_profile_notifications(constant('\\App\\Component\\Profile\\Notification::TYPE_NO_SIM')) }}</span>
                        {% endif %}
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                </div>
            </h1>
            <p>
                {% set titleTrue="J'ai ce simulateur" %}
                {% set titleFalse="Je n'ai pas ce simulateur" %}
                {% include "_common/_boolean_icon.html.twig" with {'value': app.user.simDcs} %} Digital Combat Simulator
                (DCS World)<br/>
                {% include "_common/_boolean_icon.html.twig" with {'value': app.user.simBms} %} Falcon 4 - BMS<br/>
                {% if app.user | has_profile_notification(constant('\\App\\Component\\Profile\\Notification::TYPE_NO_SIM')) %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle"></i> Je n'ai pas terminé de compléter cette section de mon profil.
                Je m'en occupe en <a href="{{ path('profile_edit') }}">cliquant ici</a>
            </div>
            {% endif %}
            </p>
        </div>
    {% endif %}

    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>Mon parcours à la {{ website | upper }}</h1>
        Je suis
        {% if app.user.member %}
            <i class="fa fa-user text-success" title="Membre"></i>
        {% elseif app.user.cadet %}
            <i class="fa fa-user-graduate cadet" title="Cadet"></i>
        {% else %}
            <i class="fa fa-user text-default" title="Invité"></i>
        {% endif %} {{ app.user.statusAsString }}

        {% if app.user.simDcs or app.user.simBms %}
            {# unknown status, need to make a choice #}
            {% if app.user.status == constant('\\App\\Entity\\User::STATUS_UNKNOWN') %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i> Je n'ai pas encore complété cette section de mon
                    profil.
                </div>

                <div class="row equal">
                    <div class="col-md-6 d-flex">
                        <div class="card border-secondary mb-3">
                            <div class="card-header"><i class="fa fa-user-graduate cadet"></i> Cadet</div>
                            <div class="card-body">
                                <h4 class="card-title">Intégrer la {{ website | upper }}</h4>
                                <p class="card-text">
                                    Je souhaite suivre le programme d'intégration des
                                    <i class="fa fa-user-graduate cadet"></i> cadets, en
                                    effectuant {{ minCadetsFlights }} activités
                                    pour rencontrer les membres et décider ensemble afin de rejoindre l'association
                                    {{ website | upper }}
                                    à la fin de ma période d'essai.
                                </p>
                                <a href="{{ path('recruitment_change_for_cadet') }}"
                                   class="btn btn-primary btn-lg btn-block remote-modal">Je postule</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="card border-secondary mb-3">
                            <div class="card-header"><i class="fa fa-user-cog"></i> Invité</div>
                            <div class="card-body">
                                <h4 class="card-title">On reste en contact</h4>
                                <p class="card-text">Je n'ai pas envie de m'inscrire au programme Cadet de
                                    la {{ website | upper }}
                                    et je
                                    n'envisage pas devenir membre pour l'instant, mais je reste invité sur les
                                    serveurs
                                    DCS et Teamspeak.</p>
                                <a href="{{ path('recruitment_change_for_guest') }}"
                                   class="btn btn-primary btn-lg btn-block remote-modal">Je me signale comme
                                    invité</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {# cadet - follow progression #}
        {% if app.user.status == constant('\\App\\Entity\\User::STATUS_CADET') %}
            <h2>Mon programme d'intégration</h2>

            {% if not app.user.simDcs %}
                <i class="far fa-square text-error"></i>
            {% else %}
                <i class="fa fa-check-square text-success"></i>
            {% endif %}
            Simulateur DCS <br/>

            {% if website == "veaf" %}
                {% if app.user.perunPlayer is null or app.user.player is null %}
                    <i class="far fa-square text-error"></i>
                    Lien DCS - je dois prévenir un administrateur (après m'être connecté au moins une fois sur le serveur DCS public)
                {% else %}
                    <i class="fa fa-check-square text-success"></i>
                    Lien DCS
                {% endif %}
                <br/>
            {% endif %}

            {% if app.user.needPresentation %}
                <i class="far fa-square text-error"></i>
                Présentation de l'association
                {% if website == "veaf" %} - je dois rencontrer un membre qui me présentera l'association, voir
                    <a href="https://community.veaf.org/topic/584/guide-du-cadet" target="_blank">
                        ici
                    </a> pour les contacts privilégiés.
                {% endif %}
            {% else %}
                <i class="fa fa-check-square text-success"></i>
                Présentation de l'association
            {% endif %}
            <br/>

            {% if app.user.cadetFlights < constant('\\App\\Entity\\User::CADET_MIN_FLIGHTS') %}
                <i class="far fa-square text-error"></i>
                {{ app.user.cadetFlights }} / {{ constant('\\App\\Entity\\User::CADET_MIN_FLIGHTS') }} activités -
                je dois encore effectuer des activités avec des membres de l'association.
            {% else %}
                <i class="fa fa-check-square text-success"></i> activités -
                {{ app.user.cadetFlights }} / {{ constant('\\App\\Entity\\User::CADET_MIN_FLIGHTS') }}
            {% endif %}
            <br/>
        {% endif %}
    </div>

    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>Mes modules</h1>

        <div class="alert alert-secondary">
            <b>Notice:</b> afin de mieux vous connaître (et de mieux connaître les autres membres de l'association),
            nous vous invitons à compléter cette liste et à l'actualiser à chaque nouvelle acquisition de module ou
            changement d'état (envie d'utilisation, évolution de votre niveau, etc...).<br/>
            <br/>
            Mon activité du moment:
            <ul>
                <li><i class="fa fa-plane text-success"></i> <b>Je vole dessus</b>: c'est un module que j'utilise en ce
                    moment
                </li>
                <li><i class="fa fa-warehouse text-warning"></i> <b>Au hangar</b>: j'ai ce module, mais je ne l'utilise
                    pas (ex: je me concentre sur d'autres modules)
                </li>
                <li><i class="fa fa-times-circle text-danger"></i> <b>Je ne l'ai pas</b>: Je n'ai pas ce module</li>
            </ul>

            Mon niveau (auto évalué):
            <ul>
                <li><i class="fa fa-book-reader text-warning"></i> <b>Débutant</b>: Je suis nouveau sur le module ou en
                    cours d'apprentissage
                </li>
                <li><i class="fa fa-shield-alt text-success"></i> <b>Mission</b>: Je suis près pour participer aux
                    missions avec ce module
                </li>
                <li><i class="fa fa-user-tie text-success"></i> <b>Instructeur</b>: Je maîtrise suffisament ce module
                    pour aider les autres à progresser dessus<br/>
                    <i>niveau réservé aux membres de l'association</i>
                </li>
            </ul>
        </div>
        {% for moduleTypeKey,moduleType in moduleTypes %}
            <hr/>
            <h2>{{ moduleType }}
                {# @todo add modules count for this module type #}
                {# <div class="float-right"> #}
                {# <span class="badge badge-primary badge-pill" title="Nombre de modules en ma possession">14</span> #}
                {# </div> #}
            </h2>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        Module
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for module in modules %}
                    {% if module.type == moduleTypeKey %}
                        {% if (attribute(myModules, module.id)) is defined %}
                            {% set myModule = attribute(myModules, module.id) %}
                        {% else %}
                            {% set myModule = null %}
                        {% endif %}
                        <tr>
                            <td id="module-{{ module.id }}">
                                {{ module.longName }}
                                <div class="float-right">
                                    <div class="btn-group mr-3">
                                        <button class="btn {% if myModule is not null and myModule.active %}btn-success{% else %}btn-secondary{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-active="1"
                                                title="Je vole dessus">
                                            <i class="fa fa-plane"></i>
                                        </button>
                                        <button class="btn {% if myModule is null or myModule.active %}btn-secondary{% else %}btn-warning{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-active="0"
                                                title="Au hangar">
                                            <i class="fa fa-warehouse"></i>
                                        </button>
                                        <button class="btn {% if myModule is not null %}btn-secondary{% else %}btn-danger{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_UNKNOWN') }}"
                                                title="Je ne l'ai pas">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn {% if myModule is not null and myModule.level == constant('\\App\\Entity\\UserModule::LEVEL_ROOKIE') %}btn-warning{% else %}btn-secondary{% endif %}"
                                                {% if not module.withLevel %}disabled{% endif %}
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_ROOKIE') }}"
                                                title="Débutant">
                                            <i class="fa fa-book-reader"></i>
                                        </button>
                                        <button class="btn {% if myModule is not null and myModule.level == constant('\\App\\Entity\\UserModule::LEVEL_MISSION') %}btn-success{% else %}btn-secondary{% endif %}"
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_MISSION') }}"
                                                title="Mission">
                                            <i class="fa fa-shield-alt"></i>
                                        </button>
                                        <button class="btn {% if myModule is not null and myModule.level == constant('\\App\\Entity\\UserModule::LEVEL_INSTRUCTOR') %}btn-primary{% else %}btn-secondary{% endif %}"
                                                {% if not module.withLevel or not app.user.member %}disabled{% endif %}
                                                data-module-type="{{ module.type }}"
                                                data-module="{{ module.id }}"
                                                data-level="{{ constant('\\App\\Entity\\UserModule::LEVEL_INSTRUCTOR') }}"
                                                title="Instructeur">
                                            <i class="fa fa-user-tie"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>

{% endblock pageContent %}

{% block javascript %}
{{ parent() }}
<script>
$(document).ready(function () {
    function refresh(moduleId, active, level) {
        // update active buttons
        $('button[data-module='+moduleId+']:button[data-active]').each(function () {
            var $this = $(this);
            $this.removeClass('btn-secondary');
            $this.removeClass('btn-success');
            $this.removeClass('btn-warning');

            if(0 == level) {
                    $this.addClass('btn-secondary');
            }
            else {
                if($this.data('active')) {
                    if(active) {
                        $this.addClass('btn-success');
                    }
                    else {
                        $this.addClass('btn-secondary');
                    }
                }
                else {
                    if(active) {
                        $this.addClass('btn-secondary');
                    }
                    else {
                        $this.addClass('btn-warning');
                    }
                }
            }
        });

        // update level buttons
        $('button[data-module='+moduleId+']:button[data-level]').each(function () {
            var $this = $(this);
            $this.removeClass('btn-secondary');
            $this.removeClass('btn-success');
            $this.removeClass('btn-danger');
            $this.removeClass('btn-warning');
            $this.removeClass('btn-warning');

            if($this.data('level')==level) {
                switch(level) {
                    case 0:
                        $this.addClass('btn-danger');
                        break;
                    case 1:
                        $this.addClass('btn-warning');
                        break;
                    case 2:
                        $this.addClass('btn-success');
                        break;
                    case 3:
                        $this.addClass('btn-primary');
                        break;
                }
            }
            else {
                $this.addClass('btn-secondary');
            }
        });
    }
    $('button[data-module]:button[data-level]').each(function() {
        var $this = $(this);
        $this.on("click", function () {
            $.getJSON({
              url: "/profile/module/"+$(this).data('module')+"/level/"+$(this).data('level'),
            }).done(function(data) {
                $.notify("Modification enregistrée", "success");
                refresh(data.module.id, data.active, data.level);
            }).fail(function() {
                $.notify("error", "error");
            });
        });
    });
    $('button[data-module]:button[data-active]').each(function() {
        var $this = $(this);
        $this.on("click", function () {
            $.getJSON({
              url: "/profile/module/"+$(this).data('module')+"/active/"+$(this).data('active'),
            }).done(function(data) {
                $.notify("Modification enregistrée", "success");
                refresh(data.module.id, data.active, data.level);
            }).fail(function() {
                $.notify("error", "error");
            });
        });
    });
});
</script>
{% endblock %}