{% extends 'layout.html.twig' %}
{% set libSelect2=true %}
{% set libMarkdown=true %}

{% block title %}{{ parent() }}: Calendrier{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="bs-component">
            <div class="card mb-3">
                <h3 class="card-header">
                    {% if app.request.attributes.get('_route') is same as 'calendar_add' %}
                        Ajouter l'événement
                    {% elseif app.request.attributes.get('_route') is same as 'calendar_copy' %}
                        <i class="fa fa-exclamation-triangle"></i> Copier l'événement
                    {% elseif app.request.attributes.get('_route') is same as 'calendar_edit' %}
                        Modifier l'événement
                    {% else %}
                        Opération sur l'événement {{ app.request.attributes.get('_route') }}
                    {% endif %}
                </h3>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    {{ form_errors(form) }}

                    {% if event.image is not null %}
                        <img class="img-fluid mb-3"
                             src="{{ image(image_header_path(event.image)).zoomCrop(1400,280).jpeg }}"/>
                    {% endif %}

                    <div class="row">
                        <div class="col-sm-6">
                            {% if event.id is not null %}
                                <a href="{{ path('calendar_view', {'event': event.id}) }}"
                                   class="btn btn-lg btn-primary form-control">
                                    <i class="fa fa-arrow-circle-left"></i> Annuler
                                </a>
                            {% else %}
                                <a href="{{ path('calendar') }}"
                                   class="btn btn-lg btn-primary form-control">
                                    <i class="fa fa-arrow-circle-left"></i> Annuler
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-danger form-control " type="submit">
                                <i class="fa fa-save"></i> Enregistrer
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock pageContent %}

{% block javascript %}
{{ parent() }}
<script type="application/javascript">
var easyMDE = new EasyMDE({
element: $('.easyMde')[0],
sideBySideFullscreen: false,
fullscreen: false,
uploadImage: true,
imageMaxSize: 10000000,
spellChecker: false,
imageUploadEndpoint: "{{ path('file_upload') }}",
});
</script>
{% endblock %}