{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}: Calendrier{% endblock %}

{% if event.image is not null %}
    {% set imageUrl = image(image_header_path(event.image)).zoomCrop(400,300).jpeg %}
{% elseif event.map is not null %}
    {% set imageUrl = image(image_header_path(event.map.imageHeader)).zoomCrop(400,300).jpeg %}
{% else %}
    {% set imageUrl = null %}
{% endif %}

{% block head %}
    {{ parent() }}
    <meta property="og:url" content="{{ absolute_url(path('calendar_view', {'event': event.id})) }}"/>
    <meta property="og:locale" content="fr-fr"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="{{ event | event_type }} - Le {{ event.startDate | date('d/m/Y') }} à {{ event.startDate | date('H:i') }}"/>
    <meta property="og:description" content="{{ event.title }}"/>
    {% if imageUrl is not null %}
        <meta property="og:image" content="{{ absolute_url(imageUrl) }}"/>
        <meta property="og:image:width" content="400"/>
        <meta property="og:image:height" content="300"/>
    {% endif %}
{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1><i class="fa fa-circle" style="color: {{ event.typeColor }}"></i> {{ event | event_type }}
            - {{ event.title }}
            {% if is_granted('EDIT', event) or true %}
                <span class="float-right">
                    <a href="{{ path('calendar_edit', {'event': event.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </span>
            {% endif %}
        </h1>
        <div>
            Le {{ event.startDate | date('d/m/Y') }} de {{ event.startDate | date('H:i') }}
            à {{ event.endDate | date('H:i') }}
            <span class="float-right">
                    organisé par <a href="{{ path('user_view', {'user': event.owner.nickname}) }}">
                        {{ event.owner.nickname }}
                    </a>
                </span>
        </div>
    </div>

    {% if event.image is not null or event.map is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="">
                        {% if event.image is not null %}
                            <img class="img-fluid"
                                 src="{{ image(image_header_path(event.image)).zoomCrop(1110,222).jpeg }}"/>
                        {% elseif event.map is not null %}
                            <img class="img-fluid"
                                 src="{{ image(image_header_path(event.map.imageHeader)).zoomCrop(1110,222).jpeg }}"/>
                            <div class="module-roster-description-layer">
                                <p class="">{{ event.map.longName }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container container-main mb-3 pt-3 pb-3">
        {# description #}
        {% if event.description is not null %}
            <div class="row">
                <div class="col-md-12">
                    <b>Description:</b><br/>
                    <p>
                        {{ event.description | markdown }}
                    </p>
                    <hr/>
                </div>
            </div>
        {% endif %}

        {# restriction simulateur #}
        {% if event.simDcs or event.simBms %}
            Réservé au(x) simulateur(s):
            {% if event.simDcs %}
                {# {% if app.user is not null and app.user.simDcs %} #}
                {# <i class="fa fa-check-square text-success"></i> #}
                {# {% else %} #}
                {# <i class="fa fa-times-circle"></i> #}
                {# {% endif %} #}
                DCS
            {% endif %}
            {% if event.simBms %}
                {# {% if app.user is not null and app.user.simBms %} #}
                {# <i class="fa fa-check-square text-success"></i> #}
                {# {% else %} #}
                {# <i class="fa fa-times-circle"></i> #}
                {# {% endif %} #}
                BMS
            {% endif %}
            <br/>
        {% endif %}

        {# restriction carte #}
        {% if event.map is not null %}
            Restriction de carte:
            {# {% if app.user is not null and app.user.hasModule(event.map) %} #}
            {# <i class="fa fa-check-square text-success"></i> #}
            {# {% else %} #}
            {# <i class="fa fa-times-circle"></i> #}
            {# {% endif %} #}
            <a href="{{ path('roster_map', {'group': 'all', 'map': event.map.code}) }}">{{ event.map.longName }}</a>
            <br/>
        {% endif %}

        {# restriction membre #}
        Restriction de profil:
        {% if event.restrictions | length > 0 %}
            {% for restriction in event.restrictions %}
                {% if not loop.first %},{% endif %}
                {{ event.restrictionByIdAsString(restriction) }}
            {% endfor %}
        {% else %}
            ouvert à tout le monde
        {% endif %}
        <br/>

        {# section pour les restrictions / modules #}
        Restriction de module:
        {% if event.modules | length > 0 %}
            {% for module in event.modules %}
                {{ module.name }}{% if not loop.last %},{% endif %}
                {# {% if app.user is not null and app.user.hasModule(module) %} #}
                {# <i class="fa fa-check-square text-success"></i> #}
                {# {% else %} #}
                {# <i class="fa fa-times-circle"></i> #}
                {# {% endif %} #}
            {% endfor %}
        {% else %}
            ouvert à tous les modules
        {% endif %}
        <br/>
    </div>

    <div class="container container-main mb-3 pt-3 pb-3">
        <h2>Je participe</h2>
        {# section pour le vote de participation #}
        <div class="row">
            {% if event.isFinished %}
                <div class="col-md-12 mt-3">
                    <div class="alert alert-info">Cet événement est maintenant terminé, vous ne pouvez plus
                        participer.
                    </div>
                </div>
            {% else %}
                {% if is_granted('VOTE', event) %}
                    {# <div class="col-md-12">Je participe :</div> #}
                    <div class="col-md-4">
                        <a href="{{ path('calendar_vote', {'event': event.id, 'vote': 'yes'}) }}"
                           class="btn {% if userVote is null or userVote.vote %}btn-success{% else %}btn-secondary{% endif %} form-control">
                            Oui
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('calendar_vote', {'event': event.id, 'vote': 'perhaps'}) }}"
                           class="btn {% if userVote is null or userVote.vote is null %}btn-primary{% else %}btn-secondary{% endif %} form-control">Peut-être</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('calendar_vote', {'event': event.id, 'vote': 'no'}) }}"
                           class="btn {% if userVote is null or userVote.vote is same as false %}btn-danger{% else %}btn-secondary{% endif %} form-control">Non</a>
                    </div>
                {% else %}
                    <div class="col-md-12 mt-3">
                        <div class="alert alert-info">Vous devez être connecté et respecter les restrictions
                            (simulateur, profil, carte, etc...) pour pouvoir vous inscrire à cet événement
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="container container-main mb-3 pt-3 pb-3">
        <h2>
            Participants
            <span class="badge badge-pill badge-success">{{ event.votesByVote(true) | length }}</span>
            <span class="badge badge-pill badge-primary">{{ event.votesByVote(null) | length }}</span>
            <span class="badge badge-pill badge-danger">{{ event.votesByVote(false) | length }}</span>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <span class="text-success">Oui</span> :
                {% for vote in event.votesByVote(true) %}
                    <a href="{{ path('user_view', {'user': vote.user.nickname}) }}">{{ vote.user.nickname }}</a>
                {% endfor %}
                <br/>
                <span class="text-primary">Peut-être</span> :
                {% for vote in event.votesByVote(null) %}
                    <a href="{{ path('user_view', {'user': vote.user.nickname}) }}">{{ vote.user.nickname }}</a>
                {% endfor %}
                <br/>
                <span class="text-danger">Non</span> :
                {% for vote in event.votesByVote(false) %}
                    <a href="{{ path('user_view', {'user': vote.user.nickname}) }}">{{ vote.user.nickname }}</a>
                {% endfor %}
                <br/>
            </div>
        </div>
    </div>
{% endblock pageContent %}
