{% set libSelect2=true %}
{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}: Calendrier{% endblock %}

{% if event.image is not null %}
    {% set imageUrl = image(image_header_path(event.image)).zoomCrop(400,300).jpeg %}
{% elseif event.map is not null %}
    {% set imageUrl = image(image_header_path(event.map.imageHeader)).zoomCrop(400,300).jpeg %}
{% else %}
    {% set imageUrl = null %}
{% endif %}

{% block head %}
    {{ parent() }}
    <meta property="og:url" content="{{ absolute_url(path('calendar_view', {'event': event.id})) }}"/>
    <meta property="og:locale" content="fr-fr"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="{{ event | event_type }} - Le {{ event.startDate | date('d/m/Y') }} à {{ event.startDate | date('H:i') }}"/>
    <meta property="og:description" content="{{ event.title }}"/>
    {% if imageUrl is not null %}
        <meta property="og:image" content="{{ absolute_url(imageUrl) }}"/>
        <meta property="og:image:width" content="400"/>
        <meta property="og:image:height" content="300"/>
    {% endif %}
{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1><i class="fa fa-circle" style="color: {{ event.typeColor }}"></i> {{ event | event_type }}
            - {{ event.title }}
            {% if is_granted('EDIT', event) or true %}
                <span class="float-right">
                    <a href="{{ path('calendar_edit', {'event': event.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </span>
            {% endif %}
        </h1>
        <div>
            Le {{ ('days.by-number.' ~ (event.startDate | date('N'))) | trans({}, 'datetime') }} {{ event.startDate | date('d/m/Y') }}
            de {{ event.startDate | date('H:i') }}
            à {{ event.endDate | date('H:i') }}
            {% if "now"|date("U") < event.startDate|date("U") %}
                <span class="badge badge-pill badge-success">{{ event.startDate | time_diff }}</span>
            {% elseif "now"|date("U") < event.endDate|date("U") %}
                <span class="badge badge-pill badge-warning">en cours !</span>
            {% else %}
                <span class="badge badge-pill badge-danger">{{ event.startDate | time_diff }}</span>
            {% endif %}
            <span class="float-right">
                    organisé par <a href="{{ path('user_view', {'user': event.owner.nickname}) }}">
                        {{ event.owner.nickname }}
                    </a>
                </span>
        </div>
    </div>

    {% if event.image is not null or event.map is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="">
                        {% if event.image is not null %}
                            <img class="img-fluid"
                                 src="{{ image(image_header_path(event.image)).zoomCrop(1400,280).jpeg }}"/>
                        {% elseif event.map is not null %}
                            <img class="img-fluid"
                                 src="{{ image(image_header_path(event.map.imageHeader)).zoomCrop(1400,280).jpeg }}"/>
                            <div class="module-roster-description-layer">
                                <p class="">{{ event.map.longName }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container container-main mb-3 pt-3 pb-3">
        {# description #}
        {% if event.description is not null %}
            <div class="row">
                <div class="col-md-12">
                    <b>Description:</b><br/>
                    <p>
                        {{ event.description | markdown }}
                    </p>
                    <hr/>
                </div>
            </div>
        {% endif %}

        {# restriction simulateur #}
        {% if event.simDcs or event.simBms %}
            Réservé au(x) simulateur(s):
            {% if event.simDcs %}
                {# {% if app.user is not null and app.user.simDcs %} #}
                {# <i class="fa fa-check-square text-success"></i> #}
                {# {% else %} #}
                {# <i class="fa fa-times-circle"></i> #}
                {# {% endif %} #}
                DCS
            {% endif %}
            {% if event.simBms %}
                {# {% if app.user is not null and app.user.simBms %} #}
                {# <i class="fa fa-check-square text-success"></i> #}
                {# {% else %} #}
                {# <i class="fa fa-times-circle"></i> #}
                {# {% endif %} #}
                BMS
            {% endif %}
            <br/>
        {% endif %}

        {# restriction carte #}
        {% if event.map is not null %}
            Restriction de carte:
            {# {% if app.user is not null and app.user.hasModule(event.map) %} #}
            {# <i class="fa fa-check-square text-success"></i> #}
            {# {% else %} #}
            {# <i class="fa fa-times-circle"></i> #}
            {# {% endif %} #}
            <a href="{{ path('roster_map', {'group': 'all', 'map': event.map.code}) }}">{{ event.map.longName }}</a>
            <br/>
        {% endif %}

        {# restriction membre #}
        Restriction de profil:
        {% if event.restrictions | length > 0 %}
            {% for restriction in event.restrictions %}
                {% if not loop.first %},{% endif %}
                {{ event.restrictionByIdAsString(restriction) }}
            {% endfor %}
        {% else %}
            ouvert à tout le monde
        {% endif %}
        <br/>

        {# section pour les restrictions / modules #}
        Restriction de module:
        {% if event.modules | length > 0 %}
            {% for module in event.modules %}
                {{ module.name }}{% if not loop.last %},{% endif %}
                {# {% if app.user is not null and app.user.hasModule(module) %} #}
                {# <i class="fa fa-check-square text-success"></i> #}
                {# {% else %} #}
                {# <i class="fa fa-times-circle"></i> #}
                {# {% endif %} #}
            {% endfor %}
        {% else %}
            ouvert à tous les modules
        {% endif %}
        <br/>
    </div>

    <div class="container container-main mb-3 pt-3 pb-3">
        <h2>Je participe</h2>
        {# section pour le vote de participation #}
        <div class="row">
            {% if event.isFinished %}
                <div class="col-md-12 mt-3">
                    <div class="alert alert-info">Cet événement est maintenant terminé, vous ne pouvez plus
                        participer.
                    </div>
                </div>
            {% else %}
                {% if is_granted('VOTE', event) %}
                    {# <div class="col-md-12">Je participe :</div> #}
                    <div class="col-md-4">
                        <a href="{{ path('calendar_vote', {'event': event.id, 'vote': 'yes'}) }}"
                           class="btn {% if userVote is null or userVote.vote %}btn-success{% else %}btn-secondary{% endif %} form-control">
                            Oui
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('calendar_vote', {'event': event.id, 'vote': 'perhaps'}) }}"
                           class="btn {% if userVote is null or userVote.vote is null %}btn-primary{% else %}btn-secondary{% endif %} form-control">Peut-être</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('calendar_vote', {'event': event.id, 'vote': 'no'}) }}"
                           class="btn {% if userVote is null or userVote.vote is same as false %}btn-danger{% else %}btn-secondary{% endif %} form-control">Non</a>
                    </div>
                {% else %}
                    <div class="col-md-12 mt-3">
                        <div class="alert alert-info">Vous devez être connecté et respecter les restrictions
                            (simulateur, profil, carte, etc...) pour pouvoir vous inscrire à cet événement
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% if is_granted('VOTE', event) and userVote is not null and userVote.vote is not same as false %}
            <div class="row justify-content-center">
                {% for choiceNumber in 1..3 %}
                    {% if attribute(choices, choiceNumber) is defined %}
                        {% set userChoice=attribute(choices, choiceNumber) %}
                    {% else %}
                        {% set userChoice=null %}
                    {% endif %}
                    <div class="col-lg-4 pt-3">
                        <div class="card text-white bg-dark card-choice">
                            <div class="card-header">
                                Choix {{ choiceNumber }}
                                <div class="float-right">
                                    {% if userChoice is null %}
                                        <a href="{{ path('calendar_choice_add', {'event': event.id, 'priority': choiceNumber }) }}"
                                           class="remote-modal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('calendar_choice_edit', {'event': event.id, 'choice': userChoice.id}) }}"
                                           class="remote-modal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                {% if userChoice is null %}
                                    <i class="fa fa-hourglass-start fa-4x"></i>
                                {% else %}
                                    {% if userChoice.module.type == constant('\\App\\Entity\\Module::TYPE_AIRCRAFT') %}
                                        <i class="fa fa-plane fa-4x"></i>
                                    {% elseif userChoice.module.type == constant('\\App\\Entity\\Module::TYPE_HELICOPTER') %}
                                        <i class="fa fa-helicopter fa-4x"></i>
                                    {% else %}
                                        <i class="fa fa-user fa-4x"></i>
                                    {% endif %}
                                    <div class="float-right card-stats-text text-right">
                                        {{ userChoice.module.name }}
                                        <br/>
                                        <small>{{ userChoice.taskAsString }}</small>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="container container-main mb-3 pt-3 pb-3">
        <h2>
            Participants
            <span class="badge badge-pill badge-success">{{ event.votesByVote(true) | length }}</span>
            <span class="badge badge-pill badge-secondary">{{ event.votesByVote(null) | length }}</span>
            <span class="badge badge-pill badge-danger">{{ event.votesByVote(false) | length }}</span>
        </h2>
        <div class="row">
            <div class="col-md-12 mb-3">
                <span class="text-success">Oui</span> :
                {% for vote in event.votesByVote(true) %}
                    <a href="{{ path('user_view', {'user': vote.user.nickname}) }}">{{ vote.user.nickname }}</a>
                {% endfor %}
                <br/>
                <span class="text-secondary">Peut-être</span> :
                {% for vote in event.votesByVote(null) %}
                    <a href="{{ path('user_view', {'user': vote.user.nickname}) }}">{{ vote.user.nickname }}</a>
                {% endfor %}
                <br/>
                <span class="text-danger">Non</span> :
                {% for vote in event.votesByVote(false) %}
                    <a href="{{ path('user_view', {'user': vote.user.nickname}) }}">{{ vote.user.nickname }}</a>
                {% endfor %}
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#" id="showChoices">voir plus ...</a><br/>
                <table class="table table-hover mt-3" style="display: none" id="playersChoices">
                    <thead>
                    <tr>
                        <td rowspan="2" class="align-text-top">Joueurs</td>
                        <td colspan="2">Choix 1</td>
                        <td colspan="2">Choix 2</td>
                        <td colspan="2">Choix 3</td>
                    </tr>
                    <tr>
                        {% for choiceNumber in 0..2 %}
                            <td>Module</td>
                            <td>Tâche</td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for vote in event.votes | sort((a,b) => a.user.nickname <=> b.user.nickname) %}
                        {% if vote.vote is null or vote.vote %}
                            <tr>
                                <td>
                                    {% if vote.user.member %}
                                        <i class="fa fa-user text-success" title="Membre"></i>
                                    {% elseif vote.user.cadet %}
                                        <i class="fa fa-user-graduate cadet" title="Cadet"></i>
                                    {% else %}
                                        <i class="fa fa-user fa text-default" title="Invité"></i>
                                    {% endif %}
                                    {{ vote.user.nickname }}
                                    {% if vote.vote is null or vote.vote == false %}
                                        <i class="fa fa-exclamation-circle"
                                           title="peut-être absent"></i>
                                    {% endif %}
                                </td>
                                {% for choiceNumber in 0..2 %}
                                    {% if attribute(usersChoices, vote.user.id) is defined %}
                                        {% set userChoices=attribute(usersChoices, vote.user.id) %}
                                        {% if attribute(userChoices, choiceNumber) is defined %}
                                            {% set userChoice=attribute(userChoices, choiceNumber) %}
                                            <td>
                                                {{ userChoice.module.name }}
                                            </td>
                                            <td>
                                                {{ userChoice.taskAsString }}
                                                {% if userChoice.comment is not null %}
                                                    <i class="fa fa-question-circle"
                                                       title="{{ userChoice.comment | escape }}"></i>
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td colspan="2">
                                                &nbsp;
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td colspan="2">
                                            &nbsp;
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock pageContent %}

{% block javascript %}
{{ parent() }}
<script type="application/javascript">
$(document).ready(function () {
   $('#showChoices').click(function(e) {
       e.preventDefault();
       $('#playersChoices').toggle();
   });
});
</script>
{% endblock javascript %}