{% extends 'admin/layout.html.twig' %}
{% set libKilikTable=true %}
{% set section="admin" %}
{% set subSection="user" %}

{% block pageContent %}
<div class="row mb-4">
    <div class="col-md-6">
        <div class="bs-component">
            <div class="card mb-3">
                <h3 class="card-header">Modifier l'utilisateur</h3>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{ path('admin_user_view', {'user': user.id}) }}"
                               class="btn btn-lg btn-primary form-control">
                                <i class="fa fa-arrow-circle-left"></i> Annuler
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-danger form-control " type="submit">
                                <i class="fa fa-save"></i> Enregistrer
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endblock pageContent %}
