{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}: Mission Maker{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>Mission Maker Helper</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Rechercher</button>
        {{ form_end(form) }}
    </div>

    {% if map is defined and map is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <img class="img-fluid"
                         src="{{ image(image_header_path(map.imageHeader)).zoomCrop(1110,222).jpeg }}"/>
                    <div class="module-roster-description-layer">
                        <p class="">{{ map.longName }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if modules is defined %}
        <div class="container container-main mb-3 pt-3 pb-1">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        Joueurs / Modules
                    </th>
                    {% for module in modules %}
                        <th class="text-center">
                            {{ module.name }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for mapUser in mapUsers %}
                    <tr>
                        <td>
                            {{ mapUser.user.nickname }}
                        </td>
                        {% for module in modules %}
                            <td class="text-center">
                                {% if attribute(usersModules, mapUser.id) is defined %}
                                    {% set userModules = attribute(usersModules, mapUser.id) %}
                                    {% if attribute(userModules, module.id) is defined %}
                                        {% set userModule = attribute(userModules, module.id) %}
                                        {% if userModule.level == constant('\\App\\Entity\\UserModule::LEVEL_INSTRUCTOR') %}
                                            <i class="fa fa-user-tie text-primary" title="Instructeur"></i>
                                        {% elseif userModule.level == constant('\\App\\Entity\\UserModule::LEVEL_MISSION') %}
                                            <i class="fa fa-shield text-secondary" title="Mission"></i>
                                        {% elseif userModule.level == constant('\\App\\Entity\\UserModule::LEVEL_ROOKIE') %}
                                            <i class="fa fa-book-reader text-warning" title="Débutant"></i>
                                        {% else %}
                                            <i class="fa fa-user text-secondary"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock pageContent %}

