{% extends 'admin/layout.html.twig' %}
{% set section="dcs" %}
{% set subSection="variant" %}

{% block pageContent %}
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="bs-component">
                <div class="card mb-3">
                    <h3 class="card-header">Consulter le serveur DCS</h3>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>
                                    Serveur:
                                </td>
                                <td>
                                    {{ server.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Code:
                                </td>
                                <td>
                                    {{ server.code }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Instance Perun:
                                </td>
                                <td>
                                    {% if server.perunInstance is not null %}
                                        {{ server.perunInstance.id }}
                                    {% else %}
                                        <i>non associé</i>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{{ path('admin_dcs_server_list') }}" class="btn btn-primary form-control"><i
                                            class="fa fa-arrow-left"></i> Retour liste</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('admin_dcs_server_edit', {'server': server.id}) }}"
                                   class="btn btn-outline-warning form-control"><i class="fa fa-edit"></i> Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pageContent %}
