<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand" title="v{{ app_version }}">
            <img src="{{ cdn_url }}/img/site-logo.png" class="logo-navbar">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {% for menuItem in menuItems %}
                    {% if menu_item_is_visible(app.user, menuItem) %}
                        {% include "default/_header/_menu-item.html.twig" %}
                    {% endif %}
                {% endfor %}
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="profile">
                            <span class="fa fa-user"></span>
                            {{ app.user.nickname }}
                            {% if app.user | has_profile_notifications %}
                                <span class="badge badge-pill badge-danger" title="Je dois compléter mon profil">
                                        !
                                </span>
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="webstv">
                            <a class="dropdown-item" href="{{ path("profile") }}">
                                Mon profil
                                {% if app.user | has_profile_notifications %}
                                    <span class="badge badge-pill badge-danger" title="Je dois compléter mon profil">
                                        !
                                    </span>
                                {% endif %}
                            </a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path("admin_index") }}">
                                    Administration
                                </a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("app_logout") }}">
                                Déconnexion
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path("app_login") }}" class="nav-link"><span class="fa fa-sign-in-alt"></span>
                            Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
