{% extends 'admin/layout.html.twig' %}
{% set section="admin" %}
{% set subSection="dashboard" %}

{% block title %}Administration{% endblock %}

{% block pageContent %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="{{ path('admin_user_list') }}">Utilisateurs</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.users }}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('admin_user_list') }}"><i class="fas fa-users fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="{{ path('admin_dcs_perun_player_list') }}">Joueurs DCS (Perun)</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.perunPlayers }}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('admin_dcs_perun_player_list') }}"><i class="fas fa-gamepad fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="{{ path('admin_dcs_player_list') }}">Joueurs DCS (SLMOD)</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.players }}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('admin_dcs_player_list') }}"><i class="fas fa-gamepad fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="{{ path('admin_module_list') }}">Modules DCS</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.modules }}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('admin_module_list') }}"><i class="fas fa-cubes fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="{{ path('admin_page_list') }}">Pages</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.pages }}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('admin_page_list') }}"><i class="fas fa-file-alt fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                <a href="{{ path('admin_file_list') }}">Fichiers</a></div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.files }}</div>
                        </div>
                        <div class="col-auto">
                            <a href="{{ path('admin_file_list') }}"><i class="fas fa-file-alt fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
