{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}: Roster des pilotes{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="btn-group btn-group-toggle">
            {% for group,groupLabel in groups %}
                {% set routeParams={'group': group} %}
                {% if selectedMap is defined and selectedMap is not null %}
                    {% set routeParams=routeParams|merge({'map': selectedMap.code}) %}
                {% endif %}
                {% if selectedAircraft is defined and selectedAircraft is not null %}
                    {% set routeParams=routeParams|merge({'aircraft': selectedAircraft.code}) %}
                {% endif %}
                {% if selectedHelicopter is defined and selectedHelicopter is not null %}
                    {% set routeParams=routeParams|merge({'helicopter': selectedHelicopter.code}) %}
                {% endif %}
                {% if selectedSpecial is defined and selectedSpecial is not null %}
                    {% set routeParams=routeParams|merge({'special': selectedSpecial.code}) %}
                {% endif %}
                <a href="{{ path(app.request.get('_route'), routeParams) }}"
                   class="btn {% if group == groupSelected %}btn-info{% else %}btn-primary{% endif %}"
                   title="{{ groupLabel }}">
                    {% if group == "all" %}
                        <i class="fa fa-users"></i>
                    {% elseif group == "cadets" %}
                        <i class="fa fa-user-graduate"></i>
                    {% elseif group == "members" %}
                        <i class="fa fa-user"></i>
                    {% endif %}
                    <div class="d-none d-xl-inline">{{ groupLabel }}</div>
                    {% if group == "all" %}
                        <span class="badge badge-pill badge-light">{{ stats.pilots }}</span>
                    {% elseif group == "cadets" %}
                        <span class="badge badge-pill badge-light">{{ stats.cadets }}</span>
                    {% elseif group == "members" %}
                        <span class="badge badge-pill badge-light">{{ stats.members }}</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="btn-group btn-group-toggle float-right">
            <a href="{{ path('roster_pilots', {'group': groupSelected}) }}"
               class="btn {% if tab == "pilots" %}btn-info{% else %}btn-primary{% endif %}">
                <i class="fa fa-users"></i>
                <div class="d-none d-xl-inline"> {{ tabs['pilots'] }}</div>
            </a>
            <a href="{{ path('roster_maps', {'group': groupSelected}) }}"
               class="btn {% if tab == "maps" %}btn-info{% else %}btn-primary{% endif %}">
                <i class="fa fa-map"></i>
                <div class="d-none d-xl-inline"> {{ tabs['maps'] }}</div>
            </a>
            <a href="{{ path('roster_aircrafts', {'group': groupSelected}) }}"
               class="btn {% if tab == "aircrafts" %}btn-info{% else %}btn-primary{% endif %}">
                <i class="fa fa-plane"></i>
                <div class="d-none d-xl-inline"> {{ tabs['aircrafts'] }}</div>
            </a>
            <a href="{{ path('roster_helicopters', {'group': groupSelected}) }}"
               class="btn {% if tab == "helicopters" %}btn-info{% else %}btn-primary{% endif %}">
                <i class="fa fa-helicopter"></i>
                <div class="d-none d-xl-inline"> {{ tabs['helicopters'] }}</div>
            </a>
            <a href="{{ path('roster_specials', {'group': groupSelected}) }}"
               class="btn {% if tab == "specials" %}btn-info{% else %}btn-primary{% endif %}">
                <i class="fa fa-ship"></i>
                <div class="d-none d-xl-inline"> {{ tabs['specials'] }}</div>
            </a>
        </div>
    </div>

    {% if selectedMap is defined and selectedMap is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="">
                        <img class="img-fluid"
                             src="{{ image(image_header_path(selectedMap.imageHeader)).zoomCrop(1110,222).jpeg }}"/>
                        <div class="module-roster-description-layer">
                            <p class="">{{ selectedMap.name | upper }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if selectedAircraft is defined and selectedAircraft is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="">
                        <img class="img-fluid"
                             src="{{ image(image_header_path(selectedAircraft.imageHeader)).zoomCrop(1110,222).jpeg }}"/>
                        <div class="module-roster-description-layer">
                            <p class="">{{ selectedAircraft.name | upper }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if selectedHelicopter is defined and selectedHelicopter is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="">
                        <img class="img-fluid"
                             src="{{ image(image_header_path(selectedHelicopter.imageHeader)).zoomCrop(1110,222).jpeg }}"/>
                        <div class="module-roster-description-layer">
                            <p class="">{{ selectedHelicopter.name | upper }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if selectedSpecial is defined and selectedSpecial is not null %}
        <div class="container container-main mb-3">
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="">
                        <img class="img-fluid"
                             src="{{ image(image_header_path(selectedSpecial.imageHeader)).zoomCrop(1110,222).jpeg }}"/>
                        <div class="module-roster-description-layer">
                            <p class="">{{ selectedSpecial.name | upper }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if pilots is defined %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered roster-table">
                            {% for pilot in pilots %}
                                <tr>
                                    <td>
                                        <span class="roster-icon-wrap mr-2">
                                            {% if pilot.member %}
                                                <i class="fa fa-user fa-2x text-success" title="Membre"></i>
                                            {% elseif pilot.cadet %}
                                                <i class="fa fa-user-graduate fa-2x text-primary" title="Cadet"></i>
                                            {% else %}
                                                <i class="fa fa-user fa-2x text-default" title="Invité"></i>
                                            {% endif %}
                                        </span>
                                        <span class="roster-text-valign">
                                            <a href="{{ path('user_view', {'user': pilot.nickname}) }}">{{ pilot.nickname }}</a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if pilots_modules is defined %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover roster-table">
                            {% for pilot_module in pilots_modules %}
                                <tr class="{% if pilot_module.user == app.user %}table-primary{% endif %}">
                                    <td>
                                        <span class="roster-icon-wrap mr-2">
                                            {% if pilot_module.user.member %}
                                                <i class="fa fa-user fa-2x text-success" title="Membre"></i>
                                            {% elseif pilot_module.user.cadet %}
                                                <i class="fa fa-user-graduate fa-2x text-primary" title="Cadet"></i>
                                            {% else %}
                                                <i class="fa fa-user fa-2x text-default" title="Invité"></i>
                                            {% endif %}
                                        </span>
                                        <span class="roster-text-valign">
                                            <a href="{{ path('user_view', {'user': pilot_module.user.nickname}) }}">{{ pilot_module.user.nickname }}</a>
                                        </span>
                                        <div class="float-right">
                                            {% include 'roster/_user_module.html.twig' with {'userModule': pilot_module} %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if maps is defined %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered roster-table">
                            {% for map in maps %}
                                <tr>
                                    <td>
                                        <a href="{{ path('roster_map', {'group': groupSelected, 'map': map.code}) }}"
                                           class="">{{ map.name }}</a>
                                        {% if attribute(mapsCount, map.id) is defined %}
                                            <div class="float-right">
                                                <span class="badge badge-primary badge-pill"
                                                      title="Nombre de pilotes">{{ attribute(mapsCount, map.id) }}</span>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if aircrafts is defined %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered roster-table">
                            {% for aircraft in aircrafts %}
                                <tr>
                                    <td>
                                        <a href="{{ path('roster_aircraft', {'group': groupSelected, 'aircraft': aircraft.code}) }}"
                                           class="">
                                            {{ aircraft.name }}
                                        </a>
                                        {% if attribute(aircraftsCount, aircraft.id) is defined %}
                                            <div class="float-right">
                                                <span class="badge badge-primary badge-pill"
                                                      title="Nombre de pilotes">{{ attribute(aircraftsCount, aircraft.id) }}</span>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if helicopters is defined %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered roster-table">
                            {% for helicopter in helicopters %}
                                <tr>
                                    <td>
                                        <a href="{{ path('roster_helicopter', {'group': groupSelected, 'helicopter': helicopter.code}) }}"
                                           class="">
                                            {{ helicopter.name }}
                                        </a>
                                        {% if attribute(helicoptersCount, helicopter.id) is defined %}
                                            <div class="float-right">
                                                <span class="badge badge-primary badge-pill"
                                                      title="Nombre de pilotes">{{ attribute(helicoptersCount, helicopter.id) }}</span>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if specials is defined %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered roster-table">
                            {% for special in specials %}
                                <tr>
                                    <td>
                                        <a href="{{ path('roster_special', {'group': groupSelected, 'special': special.code}) }}"
                                           class="">
                                            {{ special.name }}
                                        </a>
                                        {% if attribute(specialsCount, special.id) is defined %}
                                            <div class="float-right">
                                                <span class="badge badge-primary badge-pill"
                                                      title="Nombre de pilotes">{{ attribute(specialsCount, special.id) }}</span>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock pageContent %}

