<div class="modal-header">
    <h5 class="modal-title">Evénements de {{ user.nickname }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    {% for event in events %}
        {{ event.createdAt | date("d/m/Y H:i") }} - {{ event.typeAsString }}
        {% if event.validator is not null %}
            avec {{ event.validator.nickname }}
        {% endif %}

        {% if event.comment is not null %}
            - <i>{{ event.comment }}</i>
        {% endif %}
        <br/>
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
        <i class="fa fa-arrow-circle-left"></i> Fermer
    </button>
</div>
