{% extends 'layout.html.twig' %}

{% set libHighcharts=1 %}

{% block title %}{{ parent() }} - Serveur DCS {{ instance.id }}{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row ml-1 mr-1">
            <div class="page-header">
                <h1 id="tables">Statistiques du serveur {{ instance.id }}</h1>
            </div>
        </div>
    </div>

    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1">
            <div class="col-md-12">
                <div id="history24h" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1">
            <div class="col-md-12">
                <div id="heatmap" style="min-width: 400px; height: 600px; margin: 0 auto"></div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <small>
                        <i>ces données sont collectées via
                            <a href="https://github.com/davidp57/perun">
                                un fork de Perun disponible ici
                            </a>
                        </i>
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endblock pageContent %}

{% block javascript %}
<script type="text/javascript">
{{ chart(history24h) }}
{{ chart(heatmap) }}

{# labels on hover heatmap #}
function getPointCategoryName(point, dimension) {
    var series = point.series,
        isY = dimension === 'y',
        axis = series[isY ? 'yAxis' : 'xAxis'];
    return axis.categories[point[isY ? 'y' : 'x']];
}

</script>
{% endblock javascript %}
