{% extends 'layout.html.twig' %}

{% set libHighcharts=1 %}

{% block title %}{{ parent() }} - {% if server is null %}Serveurs DCS{% else %}Serveur DCS {{ server.name }}{% endif %}{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row ml-1 mr-1">
            <div class="page-header">
                <h1>
                    {% if server is null %}
                        <a href="{{ path('perun_index') }}">
                            Statistiques des serveurs
                        </a>
                    {% else %}
                        <a id="tables" href="{{ path('perun_instance', {'server': server.code}) }}">
                            Statistiques du serveur {{ server.name }}
                        </a>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>

    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1">
            <div class="col-md-12">
                <div id="history24h" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                <div class="float-right">
                    <a href="{{ path(route, routeParams | merge({'timeFrom': previous.from|date('Y-m-d\\TH:00'), 'timeTo': previous.to|date('Y-m-d\\TH:59')})) }}" class="btn btn-primary"><i class="fa fa-chevron-left"></i></a>
                    <a href="{{ path(route, routeParams | merge({'timeFrom': next.from|date('Y-m-d\\TH:00'), 'timeTo': next.to|date('Y-m-d\\TH:59')})) }}" class="btn btn-primary"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link{% if filter == 'all' %} active{% endif %}"
                           href="{{ path(route, routeParams) }}">Tout le monde</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if filter == 'cadets' %} active{% endif %}"
                           href="{{ path(route, routeParams|merge({'filter': 'cadets'})) }}">Cadets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if filter == 'members' %} active{% endif %}"
                           href="{{ path(route, routeParams|merge({'filter': 'members'})) }}">Membres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if filter == 'cadets-members' %} active{% endif %}"
                           href="{{ path(route, routeParams|merge({'filter': 'cadets-members'})) }}">Cadets +
                            Membres</a>
                    </li>
                </ul>
                <div id="heatmap" style="min-width: 400px; height: 600px; margin: 0 auto"></div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <small>
                        <i>ces données sont collectées via
                            <a href="https://github.com/davidp57/perun">
                                un fork de Perun disponible ici
                            </a>
                        </i>
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endblock pageContent %}

{% block javascript %}
<script type="text/javascript">
{{ chart(history24h) }}
{{ chart(heatmap) }}

{# labels on hover heatmap #}
function getPointCategoryName(point, dimension) {
    var series = point.series,
        isY = dimension === 'y',
        axis = series[isY ? 'yAxis' : 'xAxis'];
    return axis.categories[point[isY ? 'y' : 'x']];
}

</script>
{% endblock javascript %}
