{% extends 'layout.html.twig' %}

{% set libHighcharts=1 %}

{% block title %}{{ parent() }} - Serveurs DCS{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1">
            <h1>Liste des serveurs</h1>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            Serveur
                        </th>
                        <th>
                            Théâtre
                        </th>
                        <th>
                            Mission
                        </th>
                        <th>
                            Joueurs
                        </th>
                        <th>
                            Temps mission
                        </th>
                        <th>
                            ATC
                        </th>
                        <th>
                            GCI
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in instances %}
                        <tr>
                            {% if instance.server is not null %}
                                <td>
                                    <a href="{{ path("perun_instance", {"server": instance.server.code}) }}">
                                        {{ instance.server.name }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path("perun_instance", {"server": instance.server.code}) }}">{{ instance.theater }}</a>
                                </td>
                                <td>
                                    <a href="{{ path("perun_instance", {"server": instance.server.code}) }}">{{ instance.mission }}</a>
                                </td>
                            {% else %}
                                <td>
                                    {{ instance.id }}
                                </td>
                                <td>
                                    {{ instance.theater }}
                                </td>
                                <td>
                                    {{ instance.mission }}
                                </td>
                            {% endif %}
                            <td>
                                {{ instance.playersCountCorrected }}
                            </td>
                            {% if instance.alive %}
                                <td>
                                    {{ instance.modelTime | round | date('H:i', '+00:00 GMT') }}
                                </td>
                            {% else %}
                                <td class="alert-warning">
                                    timeout {{ instance.lastUpdateSeconds }} secondes
                                </td>
                            {% endif %}
                            <td class="text-center">
                                {% if instance.server.atc %}
                                    <span class="text-primary"><i class="fa fa-tower-broadcast"></i></span>
                                {% else %}
                                    <span class="text-secondary"><i class="fa fa-ban"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if instance.server.gci %}
                                    <span class="text-primary"><i class="fa fa-bullseye"></i></span>
                                {% else %}
                                    <span class="text-secondary"><i class="fa fa-ban"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                <i>pas de serveurs</i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row mb-3 ml-1 mr-1">
            <div class="col-md-12">
                <div id="history24h" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
                <div class="float-right">
                    <a href="{{ path('perun_attendance') }}">plus de stats ...</a>
                </div>
            </div>
        </div>
    </div>

{% endblock pageContent %}

{% block javascript %}
<script type="text/javascript">
{{ chart(history24h) }}
</script>
{% endblock javascript %}
