{% extends 'layout.html.twig' %}
{# require datatable #}
{% set libDatatable=true %}

{% block title %}{{ parent() }} - Profil de {{ user.nickname }}{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>
            Statistiques de <a href="{{ path('user_view', {'user': user.nickname}) }}">{{ user.nickname }}</a>
        </h1>
    </div>
    <div class="container container-main mb-3">
        <div class="row justify-content-center">
            <div class="col-lg-12 pt-3 pb-3">
                <div class="btn-group btn-group-toggle">
                    {% for keyPeriod,valuePeriod in periods %}
                        <a href="{{ path('user_stats_period', {'periodName': keyPeriod, 'user': user.nickname}) }}" class="btn {% if periodName == keyPeriod %}btn-info{% else %}btn-primary{% endif %}" title="{{ keyPeriod }}">
                            <div class="d-none d-xl-inline">{{ keyPeriod }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {#            <div class="col-lg-6 pt-3"> #}
            {#                <ul class="nav"> #}
            {#                    <li class="nav-item"> #}
            {#                        <a class="nav-link active" href="#">Active</a> #}
            {#                    </li> #}
            {#                    <li class="nav-item"> #}
            {#                        <a class="nav-link" href="#">Link</a> #}
            {#                    </li> #}
            {#                    <li class="nav-item"> #}
            {#                        <a class="nav-link" href="#">Link</a> #}
            {#                    </li> #}
            {#                    <li class="nav-item"> #}
            {#                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> #}
            {#                    </li> #}
            {#                </ul> #}
            {#            </div> #}
        </div>
    </div>
    {% if stats is defined %}
        <div class="container container-main mb-3 pb-3">
            <div class="row justify-content-center">
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header">Total heures</div>
                        <div class="card-body">
                            <i class="fa fa-clock fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.time | number_format(1, '.', ' ') }}<small>h</small>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="col-lg-3 pt-3"> #}
                {#                    <div class="card text-white bg-dark card-stats card-stats-small"> #}
                {#                        <div class="card-header">En l'air</div> #}
                {#                        <div class="card-body"> #}
                {#                            <i class="fa fa-plane fa-3x"></i> #}
                {#                            <div class="float-right card-stats-text text-right"> #}
                {#                                {{ stats.inAirHours | number_format(1, '.', ' ') }}<small>h</small> #}
                {#                            </div> #}
                {#                        </div> #}
                {#                    </div> #}
                {#                </div> #}
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header">Décollages</div>
                        <div class="card-body">
                            <i class="fa fa-plane-departure fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.totalTakeoffs | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header">Atterrissages</div>
                        <div class="card-body">
                            <i class="fa fa-plane-arrival fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.totalLandings | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header">Ejections</div>
                        <div class="card-body">
                            <i class="fa fa-parachute-box fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.ejections | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header">Crash</div>
                        <div class="card-body">
                            <i class="fa fa-car-crash fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.crashes | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header">Morts</div>
                        <div class="card-body">
                            <i class="fa fa-heart-broken fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.deaths | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header"><i class="fas fa-crosshairs"></i> Unités au sol</div>
                        <div class="card-body">
                            <i class="fa fa-bus fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.killsGroundUnits | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header"><i class="fas fa-crosshairs"></i> Avions</div>
                        <div class="card-body">
                            <i class="fa fa-plane fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.killsPlanes | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header"><i class="fas fa-crosshairs"></i> Hélicoptères</div>
                        <div class="card-body">
                            <i class="fa fa-helicopter fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.killsHelicopters | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-3">
                    <div class="card text-white bg-dark card-stats card-stats-small">
                        <div class="card-header"><i class="fas fa-crosshairs"></i> Bâtiments</div>
                        <div class="card-body">
                            <i class="fa fa-industry fa-3x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.killsBuildings | number_format(0, '.', ' ') }}
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="col-lg-3 pt-3"> #}
                {#                    <div class="card text-white bg-dark card-stats card-stats-small"> #}
                {#                        <div class="card-header"><i class="fas fa-crosshairs"></i> Bateaux</div> #}
                {#                        <div class="card-body"> #}
                {#                            <i class="fa fa-ship fa-3x"></i> #}
                {#                            <div class="float-right card-stats-text text-right"> #}
                {#                                {{ stats.killsShips | number_format(0, '.', ' ') }} #}
                {#                            </div> #}
                {#                        </div> #}
                {#                    </div> #}
                {#                </div> #}
            </div>
        </div>

                <div class="container container-main mb-3 pt-3 pb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-hover datatable">
                                <thead>
                                <tr>
                                    <th>
                                        Appareil / Variant / Siège
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-clock"></i> (h)
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-plane-departure"></i>
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-plane-arrival"></i>
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-bus"></i>
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-plane"></i>
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-helicopter"></i>
                                    </th>
                                    <th class="text-right">
                                        <i class="fa fa-industry"></i>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for statType in statsTypes %}
                                    <tr>
                                        <td>
                                            {{ statType.dataType.name }}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.time > 0 %}
                                                {{ statType.time | number_format(1, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.totalTakeoffs > 0 %}
                                                {{ statType.totalTakeoffs | number_format(0, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.totalLandings > 0 %}
                                                {{ statType.totalLandings | number_format(0, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.killsGroundUnits > 0 %}
                                                {{ statType.killsGroundUnits | number_format(0, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.killsPlanes > 0 %}
                                                {{ statType.killsPlanes | number_format(0, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.killsHelicopters > 0 %}
                                                {{ statType.killsHelicopters | number_format(0, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                        <td class="text-right">
                                            {% if statType.killsBuildings > 0 %}
                                                {{ statType.killsBuildings | number_format(0, '.', ' ') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    {% else %}
        <div class="container container-main mb-3 pb-3">
            <div class="row justify-content-center">
                <div class="col-lg-6 pt-3">
                    <div class="alert alert-primary">
                        cet utilisateur n'a pas encore de statistiques.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock pageContent %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
$(document).ready( function () {
    $('.datatable').DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
        }
    } );
} );
</script>
{% endblock javascript %}