{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Profil de {{ user.nickname }}{% endblock %}

{% block pageContent %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>
            {% if user.member %}
                <i class="fa fa-user text-success" title="Membre"></i>
            {% elseif user.cadet %}
                <i class="fa fa-user-graduate cadet" title="Cadet"></i>
            {% else %}
                <i class="fa fa-user member-icon-guest" title="Invité"></i>
            {% endif %}
            Profil de
            {{ user.nickname }}
            {% if app.user is not null and user == app.user %}
                <div class="float-right">
                    <a href="{{ path('profile') }}" class="btn btn-link" title="Modifier mon profil">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="float-right">
                    <a href="{{ path('admin_user_view', {'user': user.id}) }}" class="btn btn-link"
                       title="Consulter le profil">
                        <i class="fa fa-eye fa-2x"></i>
                    </a>
                </div>
            {% endif %}
        </h1>
    </div>
    {% if user.status == constant('\\App\\Entity\\User::STATUS_CADET') and is_granted('ADD_ACTIVITY', user) %}
        <div class="container container-main pt-3 pb-3 mb-3">
            <h1>Intégration du cadet</h1>

            {% if not user.simDcs %}
                <i class="far fa-square text-error"></i>
            {% else %}
                <i class="fa fa-check-square text-success"></i>
            {% endif %}
            Simulateur DCS <br/>

            {% if website == "veaf" %}
                {% if user.perunPlayer is null %}
                    <i class="far fa-square text-error"></i>
                {% else %}
                    <i class="fa fa-check-square text-success"></i>
                {% endif %}
                Lien Perun <br/>

                {% if user.player is null %}
                    <i class="far fa-square text-error"></i>
                {% else %}
                    <i class="fa fa-check-square text-success"></i>
                {% endif %}
                Lien Slmod <br/>
            {% endif %}

            {% if user.needPresentation %}
                {% if is_granted('PRESENTATION', user) %}
                    <a href="{{ path('recruitment_mark_presentation', {'user': user.id}) }}" class="remote-modal">
                        <i class="far fa-square text-error"></i>
                    </a>
                {% else %}
                    <i class="far fa-square text-error"></i>
                {% endif %}
            {% else %}
                <i class="fa fa-check-square text-success"></i>
            {% endif %}
            Présentation de l'association par un membre
            <br/>

            {% if user.cadetFlights < constant('\\App\\Entity\\User::CADET_MIN_FLIGHTS') %}
                <i class="far fa-square text-error"></i>
            {% else %}
                <i class="fa fa-check-square text-success"></i>
            {% endif %}
            {{ user.cadetFlights }} / {{ constant('\\App\\Entity\\User::CADET_MIN_FLIGHTS') }}
            <a href="{{ path('recruitment_activities', {'user': user.id }) }}" class="remote-modal">activité(s)</a>
            <a href="{{ path('recruitment_add_activity', {'user': user.id}) }}" class="remote-modal"> - ajouter une
                activité ...</a>
            <br/>
        </div>
    {% endif %}
    {% if stats is not null %}
        <div class="container container-main mb-3">
            <div class="row justify-content-center">
                <div class="col-lg-4 pt-3">
                    <div class="card text-white bg-dark card-stats">
                        <div class="card-header">Total heures</div>
                        <div class="card-body">
                            <i class="fa fa-clock fa-4x"></i>
                            <div class="float-right card-stats-text text-right">
                                {{ stats.totalHours | number_format(1, '.', ' ') }} h
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pt-3">
                    <div class="card text-white bg-dark card-stats">
                        <div class="card-header">Avion favori</div>
                        <div class="card-body">
                            {% if morePlayedAircraft is not null and morePlayedAircraft.module is not null %}
                                <i class="fa fa-plane fa-4x"></i>
                                <div class="float-right card-stats-text text-right">
                                    {{ morePlayedAircraft.module.name }}<br/>
                                    <small>{{ morePlayedAircraft.totalHours | number_format(1, '.', ' ') }} h</small>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <i>sans informations</i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pt-3">
                    <div class="card text-white bg-dark mb-3 card-stats">
                        <div class="card-header">Hélicoptère favori</div>
                        <div class="card-body">
                            {% if morePlayedHelicopter is not null and morePlayedHelicopter.module is not null %}
                                <i class="fa fa-helicopter fa-4x"></i>
                                <div class="float-right card-stats-text text-right">
                                    {{ morePlayedHelicopter.module.name }}<br/>
                                    <small>{{ morePlayedHelicopter.totalHours | number_format(1, '.', ' ') }} h</small>
                                </div>
                            {% else %}
                                <div class="text-center">
                                    <i>sans informations</i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <a href="{{ path('user_stats', {'user': user.nickname}) }}">plus de stats ...</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <h1>Modules</h1>

        {% for moduleTypeKey,moduleType in moduleTypes %}
            {% if attribute(userModulesTypes,moduleTypeKey) is defined %}
                {% set userModules=attribute(userModulesTypes,moduleTypeKey) %}
                <hr/>
                <h2>{{ moduleType }}
                    <div class="float-right">
                        <span class="badge badge-primary badge-pill"
                              title="Nombre de modules en sa possession">{{ userModules|length }}</span>
                    </div>
                </h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            Module
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userModule in userModules %}
                        <tr>
                            <td>
                                {{ userModule.module.longName }}
                                <div class="float-right">
                                    {% include 'roster/_user_module.html.twig' with {'userModule': userModule} %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
{% endblock pageContent %}
