{% extends 'admin/layout.html.twig' %}
{% set section="dcs" %}
{% set subSection="variant" %}

{% block pageContent %}
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="bs-component">
                <div class="card mb-3">
                    <h3 class="card-header">Consulter le variant du module DCS</h3>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>
                                    Nom:
                                </td>
                                <td>
                                    {{ variant.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Code (convention DCS / SLMOD):
                                </td>
                                <td>
                                    {{ variant.code }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Module:
                                </td>
                                <td>
                                    {% if variant.module is not null %}
                                        <a href="{{ path('admin_module_view', {'module': variant.module.id}) }}">
                                            {{ variant.module.name }}
                                        </a>
                                    {% else %}
                                        <i>non associé</i>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{{ path('admin_dcs_variant_list') }}" class="btn btn-primary form-control"><i
                                            class="fa fa-arrow-left"></i> Retour liste</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('admin_dcs_variant_edit', {'variant': variant.id}) }}"
                                   class="btn btn-outline-warning form-control"><i class="fa fa-edit"></i> Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pageContent %}
